body {
    background-color: black;
    color: white;
    font-family: "Helvetica";
}

.wd-search-bar {
    border-radius: 16px;
    background-color: rgb(47, 51, 54);
    color: white;
    width: 80%;
    height: 15px;
    border-style: none;
    padding: 8px;
    margin-right: 8px;
}

.wd-search-icon {
    background: url("magnifying glass.png") rgb(47, 51, 54) no-repeat 5px 3px;
    height: 12px;
    background-size: 19px;
    padding-top: 5px;

}

.wd-gear-settings {
    color: rgb(29, 161, 242);
    font-size: 30px;
    position: absolute;
    right: 24px;
    top: 28px;
}

.wd-nav-text {
    font-size: 14px;
    color: lightgray;
    font-weight: bold;
}

.wd-for-you {
    font-size: 14px;
    color: rgb(29,161,242);
    font-weight: bold;
}

.wd-for-you-border{
    border-bottom-style: solid;
    border-bottom-color: rgb(29,161,242);
    padding: 10px;

}

.wd-nav-format {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.wd-explore-border {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    padding: 10px;
}

.wd-trending-font {
    color: dimgrey;
    font-size: 12px;
    font-weight: lighter;
}

.wd-topic-font {
    display: block;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.wd-trending-company-font {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.wd-new-image {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.wd-nav-border-under {
    background-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    border-color: dimgrey;
    height: 10px;
}

.wd-three-dots {
    color: dimgray;
    position: absolute;
    font-size: 15px;
    right: 12px;
    padding-right: 13px;

}

.wd-three-dots-white {
    color: white;
    position: absolute;
    font-size: 15px;
    right: 12px;
    padding-right: 13px;

}

.wd-back-button-font {
    font-weight: lighter;
    font-color: white;
    font-size: 13px;
}






