.wd-no-border {
    border-style: none;
}
.wd-profile-picture {
    height: 48px;
    width: 48px;
    object-fit: cover;
}

.wd-name-font {
    font-size: 14px;
}

.wd-search {
    position: absolute;
    top: 6px;
    left: 15px;
}

.wd-tuit-blue {
    color: rgb(29, 161, 242);
}

.wd-picture-font {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
}

.wd-tweet-picture {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.wd-right-padding{
    padding-right: 10px;
}

.wd-icon-font {
    font-size: 7px;
}

.wd-tweet-button {
    background-color:rgb(29, 161, 242);
    color: white;
    border-style: none;
}

.wd-grey {
    background-color: rgb(248,248,248);
}

.list-group.override-border {
    border-radius: 20px;
}

.btn-primary.override-color {
    background-color: black;
    border-style: none;
}

.wd-gold {
    color: darkgoldenrod;
}

.wd-promoted-font {
    font-size: 10px;
}

.wd-gray-promoted {
    color: dimgrey;
}

.wd-search-gray {
    background-color: #E1E8ED;
    border-color: #E1E8ED;
    color: #657786;
}

.wd-search-icon-color {
    color:#657786;
}

.nav.override-content {
    justify-content: space-between;
}

.nav-tabs.override-no-border {
    border-style: none;
}

.wd-nav-font {
    font-weight: bolder;
    color: #657786;
}

.wd-nav-font-for-you {
    font-weight: bolder;
    color: black;
}
.wd-padding-foryou {
    padding-left: 15px;
}
.wd-underline {
    background-color: rgb(29, 161, 242);
    height: 4px;
    width: 65px;
    border-radius: 3px;
}

.list-group-item.override-b {
    border-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-bottom:20px;
    padding-top: 20px;
}

.wd-font-size-desc {
    font-size: 12px;
    line-height: 16px;
}

.text-secondary.override-w {
    color: white;
}

body {
    background-color: black;
    color: white;
    font-family: "Helvetica";
}

.wd-bookmark-font {
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

.wd-handle-font {
    font-weight: lighter;
    font-size: 13px;
    color: dimgrey;
}

.wd-border {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    padding-bottom: 12px;
    padding-left: 16px;
    padding-top: 5px;
}

.wd-main-border {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
}

.wd-avatar {
    border-radius: 50%;
    height: 48px;
}

.wd-name {
    color: white;
    font-weight: bolder;
    font-size: 15px;
    position: relative;
    left: 12px;

}

.wd-format-icon-name {
    display: flex;

}

.wd-handle-font-2 {
    font-weight: lighter;
    font-size: 15px;
    color: dimgrey;
    position: relative;
}

.wd-post-font {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.wd-spacing {
    height: 12px;
}
.wd-post-image {
    width: 90%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.wd-post-border {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.wd-b-pic {
    border-style: solid;
    border-width: 1px;
    width:90%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-color: rgb(47, 51, 54);
}
.wd-b-cap {
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 480px;
    border-color: rgb(47, 51, 54);
    padding: 12px;
}

.wd-link-title {
    color: white;
    font-weight: lighter;
    font-size: 15px;
}

.wd-link-desc {
    color: dimgrey;
    font-weight: lighter;
    font-size: 15px;
}

.wd-bottom-icons {
    height: 15px;
}

.wd-bottom-icon2 {
    height: 30px;
}

.wd-bottom-area-format {
    width: 480px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 12px;

}

.wd-bottom-area-font {
    font-weight: lighter;
    color: dimgrey;
    font-size: 12px;
    padding-left: 5px;

}

.wd-heart-font {
    font-weight: lighter;
    color: red;
    font-size: 12px;
    padding-left: 5px;
}

.wd-dots {
    color: rgb(29, 161, 242);
    position: absolute;
    font-size: 15px;
    right: 12px;
    padding-right: 13px;
    top: 30px;

}

.wd-flex-dots {
    display: flex;
    justify-content: space-between;
}

.wd-dots-w {
    color: dimgrey;
    position: absolute;
    font-size: 15px;
    right: 22px;

}

.wd-max-w {
    max-width: 506px;
}

.card.override-card {
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: dimgrey;
    border-radius: 20px;
}

.card-body.override-border-top {
    border-style: solid;
    border-width: 1px;
    border-color: dimgrey;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-img-top.override-border {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.list-group-item.override-bg {
    background-color: black;
}

.card-body.override-bg-body {
    background-color: black;
}